![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

# Pandas Series exercises

In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

1.3.5

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series creation

### Create an empty pandas Series

In [2]:
# your code goes here
#animals = pd.Series([5.00, 4.83, 4.75])
pd.Series()#empty

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

Series([], dtype: float64)

In [3]:
pd.Series()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X python list convert it to an Y pandas Series

In [4]:
# your code goes here
X = [5.00, 4.83, 4.75]#Python List
print(X, type(X))#class 'list'

Y = pd.Series(X)#Panda Series
print(Y, type(Y))#dtype: float64 <class 'pandas.core.series.Series'>

[5.0, 4.83, 4.75] <class 'list'>
0    5.00
1    4.83
2    4.75
dtype: float64 <class 'pandas.core.series.Series'>

In [5]:
X = ['A','B','C']
print(X, type(X))

Y = pd.Series(X)
print(Y, type(Y)) # different type

['A', 'B', 'C'] <class 'list'>
0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, name it 'My letters'

In [6]:
# your code goes here
X = pd.Series(['P','K','D'])
X.name = 'My letters'
X

0    P
1    K
2    D
Name: My letters, dtype: object

In [7]:
X = pd.Series(['A','B','C'])

X.name = 'My letters'
X

0    A
1    B
2    C
Name: My letters, dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its values

In [8]:
# your code goes here
X = pd.Series(['P','K','D'])
X.values

array(['P', 'K', 'D'], dtype=object)

In [9]:
X = pd.Series(['A','B','C'])

X.values

array(['A', 'B', 'C'], dtype=object)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series indexation

### Assign index names to the given X pandas Series

In [10]:
# your code goes here
animals = pd.Series([1864, 43000])
animals.index = ['Panda','Koala']
animals

Panda     1864
Koala    43000
dtype: int64

In [11]:
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']

X.index = index_names
X

first     A
second    B
third     C
dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its first element

In [12]:
# your code goes here
animals = pd.Series([1864, 43000], index=['Panda','Koala'])
animals[0]
animals.iloc[0]
animals['Panda']

1864

In [13]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

#X[0] # by position
#X.iloc[0] # by position
X['first'] # by index

'A'

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its last element

In [14]:
# your code goes here
animals = pd.Series([1864, 43000], index=['Panda','Koala'])
animals[-1]
animals.iloc[-1]
animals['Koala']

43000

In [15]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

#X[-1] # by position
#X.iloc[-1] # by position
X['third'] # by index

'C'

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show all middle elements

In [16]:
# your code goes here
animals = pd.Series([1864, 43000, 894, 20000], index=['Panda','Koala','Iberian Lynx', 'Lion'])
animals[1:-1]
animals.iloc[1:-1]
animals[['Koala','Iberian Lynx']]

Koala           43000
Iberian Lynx      894
dtype: int64

In [17]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X[['second', 'third', 'forth']]
#X.iloc[1:-1] # by position
X[1:-1] # by position

second    B
third     C
forth     D
dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the elements in reverse position

In [18]:
# your code goes here
animals = pd.Series([1864, 43000, 894, 20000], index=['Panda','Koala','Iberian Lynx', 'Lion'])
animals[::-1]
animals.iloc[::-1]

Lion            20000
Iberian Lynx      894
Koala           43000
Panda            1864
dtype: int64

In [ ]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X.iloc[::-1]
X[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the first and last elements

In [19]:
# your code goes here
animals = pd.Series([1864, 43000, 894, 20000], index=['Panda','Koala','Iberian Lynx', 'Lion'])
animals[0:-1]
animals.iloc[0:-1]
animals[['Panda','Lion']]

Panda     1864
Lion     20000
dtype: int64

In [20]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X[['first', 'fifth']]
#X.iloc[[0, -1]]
X[[0, -1]]

first    A
fifth    E
dtype: object

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series manipulation

### Convert the given integer pandas Series to float

In [21]:
# your code goes here
animals = pd.Series([1864, 43000, 894, 20000], index=['Panda','Koala','Iberian Lynx', 'Lion'])
pd.Series(animals, dtype=float)

Panda            1864.0
Koala           43000.0
Iberian Lynx      894.0
Lion            20000.0
dtype: float64

In [22]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

pd.Series(X, dtype=np.float)#np.float is deprecated

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  after removing the cwd from sys.path.

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Reverse the given pandas Series (first element becomes last)

In [23]:
# your code goes here
animals = pd.Series([1864, 43000, 894, 20000], index=['Panda','Koala','Iberian Lynx', 'Lion'])
animals[::-1]
animals.iloc[::-1]

Lion            20000
Iberian Lynx      894
Koala           43000
Panda            1864
dtype: int64

In [24]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

X[::-1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Order (sort) the given pandas Series

Syntax: Series.sort_values(axis=0, ascending=True, inplace=False, kind=’quicksort’, na_position=’last’)

Parameter :
axis : Axis to direct sorting.

ascending : If True, sort values in ascending order, otherwise descending.

inplace : If True, perform operation in-place.

kind : Choice of sorting algorithm.

na_position : Argument ‘first’ puts NaNs at the beginning, ‘last’ puts NaNs at the end.

Returns : Series

In [27]:
# your code goes here
animals = pd.Series([1864, 43000, 894, 20000], index=['Panda','Koala','Iberian Lynx', 'Lion'])
animals.sort_values(axis=0,ascending=False)

Koala           43000
Lion            20000
Panda            1864
Iberian Lynx      894
dtype: int64

In [28]:
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])

X = X.sort_values()
X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, set the fifth element equal to 10

In [34]:
# your code goes here
animals = pd.Series([1864, 43000, 894, 20000, 3900], index=['Panda','Koala','Iberian Lynx', 'Lion', 'Tiger'])
animals[4]=10
animals['Tiger']=10
animals.iloc[4]=10
animals

Panda            1864
Koala           43000
Iberian Lynx      894
Lion            20000
Tiger              10
dtype: int64

In [35]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[4] = 10
X

A     1
B     2
C     3
D     4
E    10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, change all the middle elements to 0

In [40]:
# your code goes here
animals = pd.Series([1864, 43000, 894, 20000, 3900], index=['Panda','Koala','Iberian Lynx', 'Lion', 'Tiger'])
animals[1:-1]=0
animals['Koala','Iberian Lynx', 'Lion']=0
animals.iloc[1:-1]=0
animals

Panda           1864
Koala              0
Iberian Lynx       0
Lion               0
Tiger           3900
dtype: int64

In [41]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[1:-1] = 0
X

A    1
B    0
C    0
D    0
E    5
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, add 5 to every element

In [43]:
# your code goes here
animals = pd.Series([1864, 43000, 894, 20000, 3900], index=['Panda','Koala','Iberian Lynx', 'Lion', 'Tiger'])
animals = animals + 5
animals

Panda            1869
Koala           43005
Iberian Lynx      899
Lion            20005
Tiger            3905
dtype: int64

In [44]:
X = pd.Series([1,2,3,4,5])

X + 5

0     6
1     7
2     8
3     9
4    10
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [50]:
# your code goes here
animals = pd.Series([1864, 43000, 894, 20000, 3900, -1], index=['Panda','Koala','Iberian Lynx', 'Lion', 'Tiger', 'Animal'])
mask = animals < 0#Zero is usually defined as neither positive or negative.
mask

Panda           False
Koala           False
Iberian Lynx    False
Lion            False
Tiger           False
Animal           True
dtype: bool

In [48]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get the negative elements

In [51]:
# your code goes here
animals = pd.Series([1864, 43000, 894, 20000, 3900, -1], index=['Panda','Koala','Iberian Lynx', 'Lion', 'Tiger', 'Animal'])
mask = animals < 0#Zero is usually defined as neither positive or negative.
animals[mask]

Animal   -1
dtype: int64

In [52]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
X[mask]

0   -1
2    0
3   -4
6    0
7    0
8   -9
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than 5

In [54]:
# your code goes here
animals = pd.Series([1864, 43000, 894, 20000, 3900, -1, 1], index=['Panda','Koala','Iberian Lynx', 'Lion', 'Tiger', 'Animal', 'Unicorn'])
mask = animals > 5
animals[mask]

Panda            1864
Koala           43000
Iberian Lynx      894
Lion            20000
Tiger            3900
dtype: int64

In [55]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > 5
X[mask]

5     6
9    10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than the elements mean

In [59]:
# your code goes here
animals = pd.Series([1864, 43000, 894, 20000, 3900, -1, 1], index=['Panda','Koala','Iberian Lynx', 'Lion', 'Tiger', 'Animal', 'Unicorn'])
animals.mean()

9951.142857142857

In [60]:
mask = animals > animals.mean()
animals[mask]

Koala    43000
Lion     20000
dtype: int64

In [61]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > X.mean()
X[mask]

1     2
4     5
5     6
9    10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers equal to 2 or 10

In [65]:
# your code goes here
animals = pd.Series([1864, 43000, 894, 20000, 3900, -1, 1, 2, 10], index=['Panda','Koala','Iberian Lynx', 'Lion', 'Tiger', 'Animal', 'Unicorn','Duck','Cat'])
mask = (animals == 2) | (animals == 10)
animals[mask]

Duck     2
Cat     10
dtype: int64

In [66]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = (X == 2) | (X == 10)
X[mask]

1     2
9    10
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

DataFrame.all(axis=0, bool_only=None, skipna=True, level=None, **kwargs)

Return whether all elements are True, potentially over an axis.

Returns True unless there at least one element within a series or along a Dataframe axis that is False or equivalent (e.g. zero or empty).

In [67]:
# your code goes here
animals = pd.Series([1864, 43000, 894, 20000, 3900, -1], index=['Panda','Koala','Iberian Lynx', 'Lion', 'Tiger', 'Animal'])
animals.all()

True

In [68]:
animals = pd.Series([1864, 43000, 894, 20000, 3900, -1, 0], index=['Panda','Koala','Iberian Lynx', 'Lion', 'Tiger', 'Animal', 'Dinosaur'])
animals.all()

False

In [69]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.all()

False

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, return True if any of its elements is zero

In [80]:
# your code goes here
animals = pd.Series([1864, 43000, 894, 20000, 3900], index=['Panda','Koala','Iberian Lynx', 'Lion', 'Tiger'])
animals.any()#This is not working as expected!

True

In [81]:
animals = pd.Series([1864, 43000, 894, 20000, 3900, -1, 0], index=['Panda','Koala','Iberian Lynx', 'Lion', 'Tiger', 'Animal', 'Dinosaur'])
animals.any()

True

In [82]:

animals = pd.Series([1864, 43000, 894, 20000, 3900, -1], index=['Panda','Koala','Iberian Lynx', 'Lion', 'Tiger', 'Animal'])
animals.any()

True

In [83]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.any()

True

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [84]:
# your code goes here
animals = pd.Series([1864, 43000, 894, 20000, 3900, -1, 0], index=['Panda','Koala','Iberian Lynx', 'Lion', 'Tiger', 'Animal', 'Dinosaur'])
animals.sum()

69657

In [85]:
X = pd.Series([3,5,6,7,2,3,4,9,4])

#np.sum(X)
X.sum()

43

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the mean value of its elements

In [86]:
# your code goes here
animals = pd.Series([1864, 43000, 894, 20000, 3900, -1, 0], index=['Panda','Koala','Iberian Lynx', 'Lion', 'Tiger', 'Animal', 'Dinosaur'])
animals.mean()

9951.0

In [87]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.mean(X)
X.mean()

3.7

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the max value of its elements

In [88]:
# your code goes here
animals = pd.Series([1864, 43000, 894, 20000, 3900, -1, 0], index=['Panda','Koala','Iberian Lynx', 'Lion', 'Tiger', 'Animal', 'Dinosaur'])
animals.max()

43000

In [89]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.max(X)
X.max()

10

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)